@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-light {
        color: #6DCFF6;
    }

    .text-dark {
        color: #006991;
    }

    @keyframes smoothScroll {
        0% {
            transform: translateY(-80px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}